
.DS_Store
venv/lib/site-packages/_distutils_hack/__init__.py
venv/lib/site-packages/_distutils_hack/__pycache__/__init__.cpython-310.pyc
venv/lib/site-packages/_distutils_hack/__pycache__/override.cpython-310.pyc
venv/lib/site-packages/_distutils_hack/override.py
