body{
    margin: 0;
    padding: 0;
}

#navbar{
    background: rgb(148,214,226);
    background: linear-gradient(45deg, rgba(148,214,226,1) 0%, rgba(202,232,234,1) 100%);
    padding: 1em 0;
    width: 100%;
    position: fixed;

    /* flexbox container */
    display: flex;
    justify-content: flex-end;

    z-index: 1;
}

.flex-grow{
    flex-grow: 10;
}

.flex-item{
    margin: 0 1em;
    font-size: 1.25em;
}

#navbar a{
    text-decoration: none;
    color:rgb(94, 94, 151);
}


.nav-logo{
    margin-left: 1em;
    width: 3em;

}

.nav-compensate{
    padding-top: 4.3em;
}

#main-page{

}

.main-wrapper{
    display: flex;
    justify-content: center;
    background-color:rgb(250, 245, 239);
    padding-top: 3em;
    padding-bottom: 3em;
}

.main-logo{
    width: 60%;
    display: block;
    margin: 50px auto;
}

.main-left{
    width: 50%;
}

.main-right h1{
    margin: 0 0.5em;
}

.main-description{
    text-align: justify;
    margin: 1em;
    /* width: 80%; */
}

.description{
    text-align: justify;
    margin: 1em auto 1em auto;
    width: 80%;
}

.btn-wrap{
    display: flex;
    justify-content: flex-end;

}

a .btn-info{
    text-decoration: none;
    color:rgb(250, 245, 239)
}

.wrap-spacer{
    flex-grow: 10;
}

.start-btn{
    margin: 1em;
}

.main-right{
    width: 50%;
}

#services{
    padding-top: 5em;
    margin-bottom: 2em;
}

#services h2, #services h1{
    text-align: center;
}

.service-wrapper{
    display: flex;
    justify-content: center;
}

.date, .gift{
    width: 50%;
}

.center-img{
    display: block;
    margin: 1em auto;
    width: 80%;
    border-radius: 10px;
}

#team{
    padding-top: 5em;
}

#team h1, #team h2{
    text-align: center;
}

.team-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 8em;
}

.teammate-left{
    width: 30%;
}

.teammate-img{
    width: 250px;
    display: block;
    margin: auto auto;
    border-radius: 50%;
}

.teammate-desc{

    width: 70%;
    margin: auto 1em;
    text-align: justify;
    /* flex-grow: 10; */
}


.logoname{
    font-family: 'Noto Serif TC', serif;
    font-size: 2.5em;
    margin: 1em;

}

.wrapper{
    margin: 0 auto;
    width: 35%;
    padding: 1em;

    border: 2px;
    border-radius: 5px;
    border-style: solid;

}

.spacer{
    padding-top: 1em;
}

#content{
    text-align: center;
}

p{
    font-family: 'Noto Sans TC', sans-serif;
}

h3{

    font-family: 'Noto Serif TC', serif;
}