{% extends "layout.html" %}

{% block body %}
<section id="dating-banner">
    <img src="https://images.pexels.com/photos/5225282/pexels-photo-5225282.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="two people looking at a map">
</section>
<section id="booking-info">
    <div class="bookingflex">
        <h2>入住日期: {{year1}}年 {{month1}}月 {{date1}}日</h2>
        <h2>｜</h2>
        <h2>離開日期: {{year2}}年 {{month2}}月 {{date2}}日</h2>
    </div>
    <div class="bookingflex">
        <h2>大人人數: {{ad}}人</h2>
        <h2>｜</h2>
        <h2>孩童人數: {{ch}}人</h2>
        <h2>｜</h2>
        <h2>房間數: {{room}}間</h2>
    </div>
</section>
<section id="booking-cards">
    {% if data %}
    <div class="card-deck">
        {% for entry in data %}
        <div class="card booking-card">
          <img class="card-img-top" src={{ entry['img'] }} alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">{{ entry['title'] }}</h3>
            <p class="card-text">售價：{{ entry['price'] }}元 <br>評價：{{ entry['score'] }}</p>
            <!-- <p class="card-text">評價：{{ entry['score'] }}</p> -->
            <div class="d-grid gap-2">
                <a class="btn btn-primary" href={{ entry['order'] }} target="_blank">訂購</a>
            </div>  
          </div>
        </div>
        {% endfor %}
      </div>
    {% else %}
    <h1>Oops...</h1>
{% endif %} 
</section>

{% endblock %}