{% extends "layout.html" %}

{% block body %}

<section id="dating">
    <h1 class="dating-title">規劃一場完美約會。</h1>
    <form onsubmit="handleSubmit()" id="locForm" action="dating" method="post">
            <select class="form-select" required name="location" id="location">
                <option disabled selected>請選擇旅遊景點</option>
                <option value="taipei">台北</option>
                <option value="taichung">台中</option>
                <option value="kaohsiung">高雄</option>
            </select>
        <button id="submit" type="submit" class="btn btn-primary btn-sm">看看推薦行程！</button>
    </form>

    <div class="dating-wrap">    
        <div class="dating-left">
            <ol>
                {% if results %}
                    {% for dict_item in results  %}
                        <li><a href= {{ dict_item['url'] }} >{{dict_item['title']}}</a></li>
                    {% endfor %}
                {% endif %}
            </ol>
        </div>
        {% if results %}
            <div class="dating-right">
                <h1>有住宿需求？</h1>
                <p>立刻透過約會助理協助您尋找並下訂一趟完美行程。</p>
                <button type="button" class="btn btn-lg btn-info">訂房！</button>
            </div>
        {% endif %}
    </div>
    

</section>

<script>

    function handleSubmit(e){
        let selected = document.getElementById('location');
        if (selected.value == '請選擇旅遊景點'){
            event.preventDefault()
            alert('請選擇一項景點！')
        }
    }


</script>
{% endblock %}